<a href="https://colab.research.google.com/github/mythri1996/RanchPal_task/blob/main/RanchPal_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
cd drive/MyDrive/Sample_data/

/content/drive/MyDrive/Sample_data

In [31]:
ls

RanchPal_task.ipynb  sample-data.csv

In [32]:
import numpy as np
import pandas as pd
from datetime import datetime

In [33]:
sd=pd.read_csv("sample-data.csv")

In [34]:
sd.head(5)

         time      accX      accY  ...      magX      magY      magZ
0  1620022010 -5.509766 -2.220703  ... -0.175195  0.006348  0.060303
1  1620022010 -5.533203 -2.210938  ... -0.175195  0.006348  0.060303
2  1620022010 -5.591797 -2.097656  ... -0.175195  0.006348  0.060303
3  1620022011 -5.517578 -2.107422  ... -0.175195  0.006348  0.060303
4  1620022011 -5.562500 -2.152344  ... -0.175195  0.006348  0.060303

[5 rows x 10 columns]

In [35]:
sd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10455 entries, 0 to 10454
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    10455 non-null  int64
 1   accX    10455 non-null  float64
 2   accY    10455 non-null  float64
 3   accZ    10455 non-null  float64
 4   gyrX    10455 non-null  float64
 5   gyrY    10455 non-null  float64
 6   gyrZ    10455 non-null  float64
 7   magX    10455 non-null  float64
 8   magY    10455 non-null  float64
 9   magZ    10455 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 816.9 KB

 Add a column in last which has converted time in local-time in Format YY/MM/DD HH:MM:SS from epoch time in column. bold text

In [36]:
for i in sd['time']:
  sd['converted_time'] =datetime.fromtimestamp(i)

In [37]:
sd.head(2)

         time      accX      accY  ...      magY      magZ      converted_time
0  1620022010 -5.509766 -2.220703  ...  0.006348  0.060303 2021-05-03 06:09:49
1  1620022010 -5.533203 -2.210938  ...  0.006348  0.060303 2021-05-03 06:09:49

[2 rows x 11 columns]

Add a column in last which will add labels in specific cells in the column. It will ask at runtime to input cell numbers and Label to add in specific cell

Create new column

In [38]:
sd['NewCol'] =np.nan

In [39]:
def create(label,first,end):
    sd.loc[first:end,'NewCol']=label

In [40]:
sd['NewCol'].isnull().sum()

10455

In [60]:
while(sd['NewCol'].isnull().sum()!=0):
    first=int(input("enter starting row number :"))
    if first<0 or first>10454:
      print("enter correct number")
      break
    end=int(input("enter ending row number :"))
    if end<1 or end>10455:
      print("enter correct number")
      break
    label=int(input("enter the label :"))
    if label<1 or label>9:
      print("enter correct number")
      break
create(label,first,end)

enter starting row number :1
enter ending row number :10000
enter the label :1
enter starting row number :10001
enter ending row number :10455
enter the label :2
enter starting row number :10455
enter correct number

In [61]:
sd.tail(100)

             time      accX      accY  ...      magZ      converted_time  NewCol
10355  1620022188 -6.357422 -1.771484  ...  0.060303 2021-05-03 06:09:49     2.0
10356  1620022188 -6.392578 -1.839844  ...  0.060303 2021-05-03 06:09:49     2.0
10357  1620022188 -6.388672 -1.792969  ...  0.060303 2021-05-03 06:09:49     2.0
10358  1620022188 -6.412109 -1.759766  ...  0.060303 2021-05-03 06:09:49     2.0
10359  1620022188 -6.367188 -1.777344  ...  0.060303 2021-05-03 06:09:49     2.0
...           ...       ...       ...  ...       ...                 ...     ...
10450  1620022189 -6.326172 -1.777344  ...  0.060303 2021-05-03 06:09:49     2.0
10451  1620022189 -6.398438 -1.783203  ...  0.060303 2021-05-03 06:09:49     2.0
10452  1620022189 -6.392578 -1.792969  ...  0.060303 2021-05-03 06:09:49     2.0
10453  1620022189 -6.388672 -1.783203  ...  0.060303 2021-05-03 06:09:49     2.0
10454  1620022189 -6.404297 -1.738281  ...  0.060303 2021-05-03 06:09:49     2.0

[100 rows x 12 columns]